  <% @user_comments.take(9).each do |comment|%>
      <% if current_user.id == comment.users_id %>
          <div class='user-comments'>
            <%= comment.text %>
          </div>
      <% end %>
  <% end %>

