<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Hola Mundo con AJAX, version 2</title>

  <script>


  </script>

</head>
<body><a href="#" onclick="paintIt(this, '#990000')">Paint it red</a></body>
</html>

