

<% cache ['photos', Photo.latest] do %>
    <% @photos.each do |photo| %>
        <% if current_user.id == photo.user_id %>
            <% if photo.avatar_file_name == nil %>
                 <%= print 'no PHOTO' %>
                 <%= image_tag 'missing.png', class:'img-gallery' %>
            <% else %>
                <%= image_tag photo.avatar.url, class:'img-gallery' %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
<%= link_to(image_tag('+_icon.png'), adding_photo_path(current_user), :id => 'add_img', method: :post, remote:true)%>
<div id ='modal_add_image'></div>